@charset "utf-8";

/*パネルのスタイル*/
.panel > header {
  padding: 6px;
}
.panel-group {
  --colorBgDark: none !important;
  background-color: var(--colorBgAlphaHeavier);
}
#panels-container.left .panel {
  padding: 0px;
}
#panels-container.left:not(.overlay) .panel-group,
#panels-container.left.icons .panel-group,
#panels-container.left.icons.overlay,
#panels-container.left.icons #switch:only-child {
  box-shadow: inset 0px 0 rgb(0 0 0 / 10%);
}
.toolvbar {
  --colorBgDarker: none;
}

/*スピードダイアルのホバー時のタイトル*/
.speeddial .dial > .thumbnail-title.hidden {
  background: var(--colorBgAlphaHeavy);
  backdrop-filter: var(--backgroundBlur);
}

/*タブサイクラーの色*/
#modal-bg > div {
  background-color: var(--colorBgAlphaBlur);
  backdrop-filter: var(--backgroundBlur);
}
.tabswitcher {
  background-color: var(--colorBgAlphaBlur);
  backdrop-filter: var(--backgroundBlur);
}
.keyboard-shortcut-list .category.hide {
  background-color: var(--colorBgAlphaHeavy);
  backdrop-filter: blur(calc(5 * var(--backgroundBlur)));
}
/*コンソールの色*/
input,
select,
textarea {
  background-color: transparent;
}
.dialog-footer {
  background-color: transparent;
  border-top: 1px solid transparent;
}
/*クイックcommandの背景色*/
.quick-command-container .quick-commands {
  background-color: transparent;
}
/* 検索候補 */
.OmniDropdown {
  background-color: var(--colorBgAlphaHeavy);
  backdrop-filter: var(--backgroundBlur);
}

/*Dialogの設定*/
#modal-bg.default-browser .SuggestDefault-Close:hover {
  fill: none;
}

.extensionIconPopupMenu.ToolbarButtonPopup-DefaultStyles.button-popup.button-popup-left.button-popup-pos-below.button-popup-arrow-light.button-popup-appear-done.button-popup-enter-done {
    width: 240px;
}
.button-popup {
    background-color: var(--colorBgAlphaHeavy);
    backdrop-filter: blur(2px);
}
.toolbar-default .button-toolbar > button:enabled {
    background-color: var(--colorAccentBgAlpha);
}
.toolbar-default .button-toolbar > button:disabled {
    background-color: var(--colorHighlightFgAlphaHeavy);
}

/* 幅 */
.ToolbarButtonPopup-DefaultStyles.button-popup.button-popup-center.button-popup-pos-below.button-popup-arrow-dark.button-popup-appear-done.button-popup-enter-done {
    width: 350px;
}
