.startpage
  .startpage-navigation
  .startpage-navigation-group:not(:empty)
  + .startpage-navigation-group {
  border-left: 0px;
}
.button-startpage button {
  padding: 0 5px 0 0;
}
.button-startpage.button-toolbar {
  padding: 0 0 0 0;
}
